<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TESTED</title>
    {% for n in NameForInput %}
        {{n.title}}
        {{n.genname}}
    {% endfor %}
    {{NameForInput}}
    <form action="/tested/calculate" method="post">
    {% for qst in  Questions %}
        {% for sub in Subjects %}
            {% for thm in Themes %}
                {% if qst.subject_id == sub.id and qst.theme_id == thm.id %}
                    <h5>Предмет</h5>{{sub.title}}
                    <h6>Тема</h6>{{thm.title}}
                    <h6>Вопрос</h6>{{qst.title}}
                    <h6>Ответы</h6>
                    {% for ans in Answers %}
                        {% if qst.id == ans.question_id %}
                            <input name="{{gen_name}}" value="{{total_quests}}_{{qst.id}}_{{ans.id}}_" type="checkbox" >{{ans.title}}<br>
                        {% endif %}
                    {% endfor %}
                    <hr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
        <input type="submit" class="button" value=" Сдать ">
    </form>
</head>
<body>
</body>
</html>
